*{
    background-color: black;
    color: beige;
    text-align: center;
    font-family: 'Shalimar';
}

#imgPerfil{
    border-radius: 50%;
    border: 10px;
    border-color: aqua;
}

.titulos{
    font-size: 200%;
    font-style: italic;
}

h2{
    font-size: 300%;
}

#biografia{
    width: 70vw;
    text-align: center;
}   

.divInline{
    display:block;
}

#familia{
    display:inline-block;
}

#filmografia{
    display:inline-block;
}

#biografia{
    display:inline-block;
}

.flexElemento{
    width: 400px;
    height: 400px;
    background-color: bisque;
    margin: 15px;
    color: black;
    font-size: 500%;
}

.flexContenedor{
    display: flex;
    flex-wrap: wrap;
}